<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-footer">
    <template>
        <footer id="footer">

            <div id="copyrights" class="nomargin nobottompadding">

                <div class="container clearfix">

                    <div class="col_one_third">
                        Copyrights &copy; 2016 北京阿舱科技教育有限公司<br>
                        <span>Developed by <a href="http://doudoujay.com">doudoujay.com</a></span>
                        <div class="clear"></div>

                    </div>
                    <div class="col_one_third center">

                        <img src="/images/index/home_footer_erweima.png">


                    </div>


                    <div class="col_one_third col_last tright">
                        <img src="/images/index/home_footer_logo.png" alt="">


                    </div>

                </div>

            </div><!-- #copyrights end -->



        </footer><!-- #footer end -->
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-footer",
    });


</script>