<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-footer">
    <template>
        <footer id="footer">

            <div id="copyrights" class="topmargin-sm">

                <div class="container clearfix">

                    <div class="col_one_third">
                        Copyrights &copy; 2016 北京阿舱科技教育有限公司<br>
                        <span>Developed by <a href="http://doudoujay.com">doudoujay.com</a></span>
                        <div class="clear"></div>

                    </div>
                    <div class="col_one_third center">

                        <img src="/images/index/home_footer_erweima.png" data-am-modal="{target: '#doc-modal-1'}" alt="">

                    </div>
                    <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                        <div class="am-modal-dialog">
                            <div class="am-modal-hd">扫描二维码关注
                                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                            </div>
                            <div class="am-modal-bd">
                                <img src="/images/index/qrcode.jpg" style="width: 150%;height: 150%">
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third col_last tright">
                        <img src="/images/index/home_footer_logo.png" alt="">



                    </div>

                </div>

            </div><!-- #copyrights end -->



        </footer><!-- #footer end -->
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-footer",
    });
</script>