<link rel="import"
      href="../bower_components/polymer/polymer.html">
<link rel="import" href="gallary_component.html">

<dom-module id="dom-gallary">
    <template>
        <section >

            <div class="content-wrap">

                <!--TODO: photo~-->

                <div class="container clearfix">

                    <!-- Portfolio Filter
                    ============================================= -->
                    <ul id="portfolio-filter" class="clearfix">

                        <li class="activeFilter"><a href="#" data-filter="*">全部</a></li>
                        <li><a href="#" data-filter=".pf-events">舱内活动</a></li>
                        <li><a href="#" data-filter=".pf-people">成员</a></li>
                        <li><a href="#" data-filter=".pf-scene">月球基地</a></li>


                    </ul><!-- #portfolio-filter end -->

                    <div id="portfolio-shuffle">
                        <i class="icon-random"></i>
                    </div>

                    <div class="clear"></div>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio-2 portfolio-masonry clearfix">

                        <dom-gallary-component></dom-gallary-component>



                    </div><!-- #portfolio end -->

                    <!-- Portfolio Script
                    ============================================= -->
                    <script type="text/javascript">

                        jQuery(window).load(function(){

                            var $container = $('#portfolio');

                            $container.isotope({ transitionDuration: '0.65s' });

                            $('#portfolio-filter a').click(function(){
                                $('#portfolio-filter li').removeClass('activeFilter');
                                $(this).parent('li').addClass('activeFilter');
                                var selector = $(this).attr('data-filter');
                                $container.isotope({ filter: selector });
                                return false;
                            });

                            $('#portfolio-shuffle').click(function(){
                                $container.isotope('updateSortData').isotope({
                                    sortBy: 'random'
                                });
                            });

                            $(window).resize(function() {
                                $container.isotope('layout');
                            });

                        });

                    </script><!-- Portfolio Script End -->

                </div>

            </div>

        </section>
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-gallary",
    });
</script>