<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-gallary-component">
    <template>
        <article class="portfolio-item pf-events">
            <div class="portfolio-image">
                <a href="portfolio-single.html">
                    <img src="/images/gallary/event-1.jpg" class="img-rounded">
                </a>
                <div class="portfolio-overlay">
                    <a href="/images/gallary/event-1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
                    <a href="/" class="right-icon"><i class="icon-home"></i></a>
                </div>
            </div>

        </article>
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-gallary-component",
    });
</script>