<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-index-app">
    <template>
        <div class="section full-screen nomargin noborder"
             style="background-image: url('images/index/bg-front.png'); background-size: cover; background-color: white">

            <div id="indexapp_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite" class="col-md-8 col-md-offset-2">
                <script type="text/javascript" charset="utf-8" src="../HYPE/index-app/index-app.hyperesources/indexapp_hype_generated_script.js?15065"></script>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-index-app",
        ready: function () {

        }
    });
</script>