<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-pagetitle">
    <template>
        <section id="page-title" class="page-title-parallax page-title-dark  center fullscreen" style="padding: 250px 0; background-image: url('../images/index/lunarbase-head.png'); background-size: cover; background-position: center center;" data-stellar-background-ratio="0.2">
        <!--TODO:change所谓的标题图-->
        </section><!-- #page-title end -->
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-pagetitle",
    });
</script>