<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-pagetitle">
    <template>
        <div class="section full-screen noborder notoppadding notopmargin nobottompadding nobottommargin"
             style="background-size: cover; background-color: white">

            <div id="lunarbase_hype_container" style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;" aria-live="polite" class="">
                <script type="text/javascript" charset="utf-8" src="../HYPE/lunarbase/lunarbase.hyperesources/lunarbase_hype_generated_script.js?38034"></script>
            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-pagetitle",
    });
</script>