<link rel="import"
      href="../bower_components/polymer/polymer.html">

<dom-module id="dom-topsearch">
    <template>
        <!-- Top Search
                    ============================================= -->
        <div id="top-search">
            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
            <form action="../search.html" method="get">
                <input type="text" name="q" class="form-control" value=""
                       placeholder="输入关键字回车搜索">
            </form>
        </div><!-- #top-search end -->

    </template>
</dom-module>

<script>
    Polymer({
        is: "dom-topsearch",
    });
</script>